.statelist {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #292C33;
  border-right: 2px solid #1B1D22;
  color: #D5D8DD;
  overflow-y: scroll;
}

ol {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 10px;
}

li:nth-child(odd) {
  background-color: #494C53;
}

pre {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}
