<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus
      [(ng-model)]="newItem" (keyup.enter)="addItem()">
    <button class="add" (click)="addItem()">Add</button>
  </header>
  <section class="main">
  <ul class="todo-list">
    <template ng-for #item [ng-for-of]="items">
      <li>
        <div class="view">
          <label>{{item.text}}</label>
        </div>
      </li>
    <template>
  </ul>
</section>
</section>
